@font-face {
  font-family: "sf-ui-display-bold";
  font-style: normal;
  font-weight: bold;
  src: url("/../../fonts/sf-ui-display-bold.eot?#iefix") format("embedded-opentype"), url("/../../fonts/sf-ui-display-bold.woff2") format("woff2"), url("/../../fonts/sf-ui-display-bold.woff") format("woff"), url("/../../fonts/sf-ui-display-bold.ttf") format("truetype"), url("/../../fonts/sf-ui-display-bold.svg#sf-ui-display-bold") format("svg"); }
@font-face {
  font-family: "sf-ui-text-regular";
  font-style: normal;
  font-weight: normal;
  src: url("/../../fonts/sf-ui-text-regular.eot?#iefix") format("embedded-opentype"), url("/../../fonts/sf-ui-text-regular.woff2") format("woff2"), url("/../../fonts/sf-ui-text-regular.woff") format("woff"), url("/../../fonts/sf-ui-text-regular.ttf") format("truetype"), url("/../../fonts/sf-ui-text-regular.svg#sf-ui-text-regular") format("svg"); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #A2856A;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "sf-ui-text-regular", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #765f4a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #b69f89;
  border: 1px solid #A2856A;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "sf-ui-text-regular", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #A2856A;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "sf-ui-text-regular", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #866c53; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #A2856A;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(149, 120, 93, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #765f4a;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #A2856A;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #A2856A;
  font-family: "sf-ui-text-regular", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sf-ui-display-bold", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #A2856A;
  transition: color 0.3s linear; }
  a:active, a:focus, a:hover {
    color: #765f4a; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #A2856A;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html, body {
  width: 100%; }

body {
  color: #A2856A; }
  body ::selection {
    background: #A2856A;
    color: white;
    letter-spacing: -0.3px; }

.outer-container {
  max-width: none;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }

img {
  width: 100%; }

.caption {
  font-size: 0.75em;
  margin: 18px; }

.portrait .email {
  text-align: right;
  float: right; }
@media screen and (min-width: 62.1875em) {
  .portrait {
    float: left;
    display: block;
    margin-right: 1.87727%;
    width: 32.08182%; }
    .portrait:last-child {
      margin-right: 0; } }

.projects h1 {
  font-family: "sf-ui-display-bold", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 2em;
  margin: 24px 18px 0 18px;
  max-width: 800px; }
  @media screen and (min-width: 43.75em) {
    .projects h1 {
      float: left;
      display: block;
      margin-right: 1.87727%;
      width: 52.45727%; }
      .projects h1:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 62.1875em) {
    .projects h1 {
      float: left;
      display: block;
      margin-right: 1.87727%;
      width: 100%; }
      .projects h1:last-child {
        margin-right: 0; } }
  .projects h1.ye-say {
    max-width: none;
    float: left;
    display: block;
    margin-right: 1.87727%;
    width: 100%;
    margin-bottom: 24px; }
    .projects h1.ye-say:last-child {
      margin-right: 0; }
.projects .about {
  margin: 48px 18px 0 18px; }
  @media screen and (min-width: 43.75em) {
    .projects .about {
      float: left;
      display: block;
      margin-right: 1.87727%;
      width: 66.04091%; }
      .projects .about:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 62.1875em) {
    .projects .about {
      margin-left: 0; }
      .projects .about p {
        font-size: 1.125em; } }
.projects .project-list {
  margin-top: 48px; }
  @media screen and (min-width: 62.1875em) {
    .projects .project-list {
      margin-top: 60px; } }
  .projects .project-list .project {
    margin-bottom: 60px; }
    @media screen and (min-width: 43.75em) {
      .projects .project-list .project {
        float: left;
        display: block;
        margin-right: 1.87727%;
        width: 49.06137%; }
        .projects .project-list .project:last-child {
          margin-right: 0; }
        .projects .project-list .project:nth-child(2n) {
          margin-right: 0; }
        .projects .project-list .project:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 62.1875em) {
      .projects .project-list .project .caption {
        margin-left: 0; } }
    .projects .project-list .project img {
      display: block;
      width: 100%; }
    .projects .project-list .project .video-wrapper {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative; }
      .projects .project-list .project .video-wrapper embed,
      .projects .project-list .project .video-wrapper object,
      .projects .project-list .project .video-wrapper iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%; }
@media screen and (min-width: 62.1875em) {
  .projects {
    float: left;
    display: block;
    margin-right: 1.87727%;
    width: 66.04091%; }
    .projects:last-child {
      margin-right: 0; }
    .projects h1 {
      font-size: 5.25em;
      margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
