@import "../bourbon/bourbon";
@import "../base/grid-settings";
@import "../neat/neat";
@import "../base/base";

@mixin vertical-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

html, body{
  height:100%;
  letter-spacing: -0.3px;
}

.main-section {

	padding: 2em 0em;

	@include media($medium-screen-up) {

		padding: 4em 0em 3em 0em;
	}

	.outer-container {

		@include outer-container();
	}

	&.title {

		background-color: $light-gray;
		color: $white;
		padding: 1em;

		.logo {

			width: 30px;
			transition: opacity 0.2s linear;

		  	&:active,
		  	&:focus,
		  	&:hover {

		    	opacity: 0.5;
		  	}
		}

		&.home {

			background: url(../../img/portrait.jpg) no-repeat center;

	    	-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			min-height: 200px;
		}

		h1 {

			font-size: 2.25em;
			font-weight: 300;
			text-align: center;
		}

		p {

			text-align: center;
		}

		@include media($large-screen-up) {

			background-color: $light-gray;
			@include span-columns(6);
			height: 100%;
			position: fixed;

			h1 {

				margin-top: 45%;
			}
		}
	}

	&.details {

		@include media($large-screen-up) {

			@include span-columns(6);
			@include shift(6);
			padding-right: 2em;

			p, ol {

				@include span-columns(8);
				@include shift(2);
			}
		}

		p, ol {

			@include span-columns(10);
			@include shift(1);
			margin-bottom: 2em;
		}

		img, .video, {

			@include span-columns(12);
			margin-top: 2em;
		}

		.section-title {

			margin-top: 2em;
			font-family: $sfb;
		}

		.img-caption {

			margin-top: 0.5em;
			color: $medium-gray;
			margin-bottom: 1em;
		}

		.project-employer {

			margin-top: 6em;
		}

		.project {

			@include media($medium-screen-up) {

				@include span-columns(5);
				@include omega(2n);
			}
		}

		.bonus-info {

			color: $medium-gray;
		}

		.video-container {
		  height: 0;
		  overflow: hidden;
		  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
		  position: relative;
		  margin-bottom:0.25em;

		  embed,
		  object,
		  iframe {
		    @include position(absolute, 0px null null 0px);
		    @include size(100%);
		  }
		}
	}
}








