@import "../bourbon/bourbon";
@import "../base/grid-settings";
@import "../neat/neat";
@import "../base/base";

// Mixins

@mixin omega-reset($nth) {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
    &:nth-child(#{$nth}+1) { clear: none }
}
// end Mixins

// Breakpoints
$small-screen: em(400);
$medium-screen: em(700);
$large-screen: em(995);

$small-screen-up: new-breakpoint(min-width $small-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
//

html, body {
    width: 100%;
}

body {
    color: $warm-gray;
    ::selection {
    background: $warm-gray;
    color: white;
    letter-spacing: -0.3px;
    }
}

.outer-container {
    @include outer-container();
}

img {
    width: 100%;
}

.caption {
    font-size: em(12);
    margin: 18px;
}

.portrait {

    .email {
        text-align: right;
        float: right;
    }

    @include media($large-screen-up) {
        @include span-columns(5);
    }
}

.projects {

    h1 {
        font-family: $sf-bold;
        font-size: em(32);
        margin: 24px 18px 0 18px;
        max-width: 800px;
        @include media($medium-screen-up) {
            @include span-columns(8);
        }
        @include media($large-screen-up) {
            @include span-columns(15);
        }
        &.ye-say {
            margin-bottom: 24px;
        }
    }

    .about {
        margin: 48px 18px 0 18px;
        @include media($medium-screen-up) {
            @include span-columns(10);
        }

        @include media($large-screen-up) {
            margin-left: 0;

            p {
                font-size: em(18);
            }
        }
    }

    .project-list {
        margin-top: 48px;
        @include media($large-screen-up) {
            margin-top: 60px;
        }

        .project {
            margin-bottom: 60px;
            @include media($medium-screen-up) {
                @include span-columns(7.5);
                @include omega(2n);
            }

            .caption {
                @include media($large-screen-up) {
                    margin-left: 0;
                }
            }

            img {
                display: block;
                width: 100%;
            }

            .video-wrapper {
              height: 0;
              overflow: hidden;
              padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
              position: relative;

              embed,
              object,
              iframe {
                @include position(absolute, 0px null null 0px);
                @include size(100%);
              }
            }
        }
    }

    @include media($large-screen-up) {
        @include span-columns(10);

        h1 {
            font-size: em(84);
            margin-left: 0;
        }
    }
}















