// Colors
$white: #ffffff;
$black: #0d0d0d;
$yellow: #FFF84B;
$gray: #6B6B70;

// Overlays
$image-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

// Typography
$apk: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
$md: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
$nudge: "Nudge", "Helvetica", "Roboto", "Arial", sans-serif;



