// Imports

@import 'reset';
@import 'fontface'; // Hacked Bourbon font goodies
@import 'fonts';
@import 'vars';

// Mixins

/// New Breakpoint
@mixin breakpoint($point) {
  @if $point == small-screen-up {
    @media (min-width: $small-screen) { @content; }
  }
  @else if $point == medium-screen-up {
    @media (min-width: $medium-screen) { @content; }
  }
  @else if $point == large-screen-up {
    @media (min-width: $large-screen) { @content; }
  }
  @else if $point == extra-large-screen-up {
    @media (min-width: $extra-large-screen) { @content; }
  }
}

/// Aspect Ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: inline-block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Breakpoints

$small-screen: 400px;
$medium-screen: 800px;
$large-screen: 1200px;
$extra-large-screen: 2400px;

$section-padding-small: 32px;
$section-padding-large: 96px;

// Global

html {
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $md;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: $black;
  background: $white;
  transition: background 0.35s ease-in-out;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-variant-numeric: slashed-zero;
  ::selection {
    background: $black;
    color: $white;
  }
  &.dark {
    background: $black;
    color: $white;
    ::selection {
      background: $white;
      color: $black;
    }
  }
  &.light {
    background: $white;
    color: $black
  }
}

// Design

.title-1 {
  font-family: $apk;
  font-size: 84px;
  line-height: 0.9;
  letter-spacing: -2.5px;
  @include breakpoint(medium-screen-up) {
    font-size: 16vw;
    letter-spacing: -8px;
  }
  @include breakpoint (extra-large-screen-up) {
    // font-size: 13vw;
    letter-spacing: -10px;
  }
}

.title-2 {
  font-family: $apk;
  font-size: 31.5px;
  line-height: 35px;
  letter-spacing: -0.4px;
  font-weight: 500;
  @include breakpoint(medium-screen-up) {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
  @include breakpoint (extra-large-screen-up) {
    font-size: 49.5px;
    line-height: 53px;
    letter-spacing: -1px;
  }
  &.gray {
    color: $gray;
  }
}

.title-3 {
  font-family: $apk;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  @include breakpoint(medium-screen-up) {
    font-size: 22.5px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
  @include breakpoint(extra-large-screen-up) {
    font-size: 31.5px;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
  &.gray {
    color: $gray;
  }
}

.paragraph {
  font-family: $apk;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  @include breakpoint(medium-screen-up) {
    font-size: 22.5px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
  @include breakpoint(extra-large-screen-up) {
    font-size: 31.5px;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
  span {
    // font-style: italic;
    // color: $gray;
  }
  a {
    text-decoration: none;
    color: $black;
    border-bottom: 1px solid rgba($black, 0.2);
    transition: all 0.3s ease;
    &:hover {
      border-bottom: 1px solid rgba($black, 1);
    }
  }
  &.bold {
    font-weight: 500;
  }
}

ul {
  list-style: none;
  li {
    margin-bottom: 12px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.bullets {
    li {
      &::before {
        content: "⊹";
        color: #a8a8a8;
        margin-right: 20px;
        height: 100%;
      } 
    }
  }
}

.caption {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.end-cap {
  height: 16px;
  vertical-align: middle;
  @include breakpoint(medium-screen-up) {
    height: 20.5px;
  }
  @include breakpoint(extra-large-screen-up) {
    height: 29.5px;
  }
  &.title-2 {
    height: 27.5px;
    vertical-align: middle;
    @include breakpoint(medium-screen-up) {
      height: 32px;
    }
    @include breakpoint(extra-large-screen-up) {
      height: 45.5px;
    }
  }
}

.home-page {
  .home-page-logo {
    padding: 24px;
    @include breakpoint(medium-screen-up) {
      padding: 60px;
    }
    @include breakpoint(large-screen-up) {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      gap: 20px;
    }
    @include breakpoint(extra-large-screen-up) {
      padding: 180px;
    }
    position: relative;
    // .title-1 {
    //   @include breakpoint(large-screen-up) {
    //     grid-column: 1 / 16;
    //   }
    //   // @include breakpoint(extra-large-screen-up) {
    //   //   grid-column: 2 / 16;
    //   // }
    // }
    .logo {
      width: 100%;
      grid-column: span 16;
    }
    .sticker-1 {
      position: absolute;
      width: 22%;
      top: 25%;
      left: 70%;
      transform: rotate(-20deg);
      @include breakpoint(extra-large-screen-up) {
        width: 19%;
      }
    }
    // .sticker-2 {
    //   position: absolute;
    //   width: 18%;
    //   top: 50%;
    //   left: 34%;
    //   transform: rotate(20deg);
    // }
    // .sticker-3 {
    //   position: absolute;
    //   width: 9%;
    //   top: 10%;
    //   left: 15%;
    //   transform: rotate(-10deg);
    //   z-index: 2;
    // }
    .sticker-4 {
      position: absolute;
      width: 12%;
      top: 10%;
      left: 70%;
      transform: rotate(12deg);
      @include breakpoint(extra-large-screen-up) {
        width: 10%;
      }
    }
    // .sticker-5 {
    //   position: absolute;
    //   width: 18%;
    //   top: 60%;
    //   left: 10%;
    //   transform: rotate(-35deg);
    // }
  }
  .home-page-about {
    padding: 24px;
    @include breakpoint(medium-screen-up) {
      padding: 60px;
    }
    @include breakpoint(large-screen-up) {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      gap: 20px;
    }
    @include breakpoint(extra-large-screen-up) {
      padding: 180px;
    }
    .text-container {
      display: grid;
      gap: 24px;
      border-top: 3px solid $black;
      padding-top: 12px;
      @include breakpoint(large-screen-up) {
        grid-column: 7 / 17;
      }
      @include breakpoint(extra-large-screen-up) {
        border-top: 4px solid $black;
      }
      .paragraph {
        font-weight: 500;
      }
    }
  }
  .timeline-grid {
    display: grid;
    gap: 12px;
    @include breakpoint(medium-screen-up) {
      padding: 60px;
      grid-template-columns: repeat(8, 1fr);
      gap: 20px;
    }
    @include breakpoint(large-screen-up) {
      grid-template-columns: repeat(16, 1fr);
    }
    @include breakpoint(extra-large-screen-up) {
      padding: 180px;
      grid-template-columns: repeat(16, 1fr);
    }
    .portrait {
      background: $black;
      display: flex;
      @include breakpoint(medium-screen-up) {
        grid-column: span 4;
      }
      @include breakpoint(large-screen-up) {
        // grid-column: 2 / 6;
        grid-column: span 5;
        position: sticky;
        top: 60px;
      }
      // @include breakpoint(extra-large-screen-up) {
      //   grid-column: 2 / 6;
      // }
      img {
        width: 100%;
      }
    }
    .about-grid-item {
      padding: 0 20px 20px 20px;
      @include breakpoint(medium-screen-up) {
        grid-column: span 8;
        border-top: 1px solid $black;
        padding: 20px 0 0 0;
        margin-top: 100px;
      }
      @include breakpoint(large-screen-up) {
        grid-column: 7 / 17;
      }
      @include breakpoint(extra-large-screen-up) {
        margin-top: 160px;
      }
    }
    .grid-item {
      background: #FAFAFA;
      @include aspect-ratio(3, 4);
      position: relative;
      overflow: hidden;
      width: 100%;
      @include breakpoint(medium-screen-up) {
        grid-column: span 4;
      }
      @include breakpoint(large-screen-up) {
        grid-column: span 5;
      }
      // @include breakpoint(extra-large-screen-up) {
      //   grid-column: span 4;
      // }
      &:nth-child(even) {
        // color: red;
        @include breakpoint(large-screen-up) {
          grid-column: 7 / 12;
        }
      }
      &.offset-item {
        // @include breakpoint(large-screen-up) {
        //   grid-column: 7 / 12;
        // }
        // @include breakpoint(extra-large-screen-up) {
        //   grid-column: 8 / 12;
        // }
      }
      &.link {
        background: $black;
        color: $white;
        a {
          text-decoration: none;
          color: $white;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0px;
          top: 0;
          border-color: $black $white;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
          height: 0px;
          width: 0px;
          display: block;
          transition: all 0.4s ease;
          @include breakpoint(medium-screen-up) {
            border-width: 0px 40px 40px 0px;
          }
          @include breakpoint(large-screen-up) {
            border-width: 0px 60px 60px 0px;
          }
          @include breakpoint(extra-large-screen-up) {
            border-width: 0px 100px 100px 0px;
          }
        }
        &:hover {
          .logo {
            img {
              transform: scale(1.12);
            }
          }
          &::after {
            border-width: 0px 0px 0px  0px;
          }
        }
      }
      .details {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        font-variant-numeric: slashed-zero;
        @include breakpoint(extra-large-screen-up) {
          padding: 40px;
        }
        .paragraph {
          min-height: 24px;
          transform: translateZ(0);
          -webkit-transform: translateZ(0);
          @include breakpoint(medium-screen-up) {
            min-height: 30px;
          }
          @include breakpoint(extra-large-screen-up) {
            min-height: 42px;
          }
        }
        .company {
          width: 100%;
          min-height: 72px;
          @include breakpoint(medium-screen-up) {
            min-height: 90px;
          }
          @include breakpoint(extra-large-screen-up) {
            min-height: 126px;
          }
          &.bottom {
            min-height: 24px;
            @include breakpoint(medium-screen-up) {
              min-height: 30px;
            }
            @include breakpoint(extra-large-screen-up) {
              min-height: 42px;
            }
          }
        }
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          img {
            transition: all 0.4s ease;
            width: 75%;
            @include breakpoint(large-screen-up) {
              width: 60%;
            }
          }
        }
        .info {
          width: 100%;
          min-height: 72px;
          a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid rgba($black, 0.2);
            transition: all 0.3s ease;
            &:hover {
              border-bottom: 1px solid rgba($black, 1);
            }
          }
          @include breakpoint(medium-screen-up) {
            min-height: 90px;
          }
          @include breakpoint(extra-large-screen-up) {
            min-height: 126px;
          }
          &.bottom {
            min-height: 24px;
            @include breakpoint(medium-screen-up) {
              min-height: 30px;
            }
            @include breakpoint(extra-large-screen-up) {
              min-height: 42px;
            }
          }
          .info-link-container {
            display: flex;
            // a {
            //   &::after {
            //     content: "";
            //     position: absolute;
            //     left: 0px;
            //     bottom: 50%;
            //     transform: translateY(50%);
            //     background: $black;
            //     height: 2px;
            //     width: 100%;
            //     transition: all 0.4s ease;  
            //   }
            //   &:hover {
            //     &::after {
            //       transform: translateY(0);
            //       top: unset;
            //       bottom: 0;                }
            //   }
            // }
          }
        }
      }
    }
  }
}

.project-header {
  padding: 24px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  // font-weight: 500;
  z-index: 2;
  @include breakpoint(extra-large-screen-up) {
    padding: 60px;
  }
  a {
    color: inherit;
    text-decoration: none;
    // background-color: blue;
    display: inline-block;
    min-width: 100%;
  }
  .text-container {
    display: flex;
    justify-content: space-between;
    .paragraph {
      line-height: 0.9;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
    }
    .project-header-logo {
      // background-color: red;
      // min-width: 140px;
      font-weight: 500;
      img {
        height: 60px;
        // margin-left: -20px;
        // margin-top: -20px;
        @include breakpoint(large-screen-up) {
          height: 80px;
        }
        @include breakpoint(extra-large-screen-up) {
          height: 120px;
          // margin-left: -40px;
          // margin-top: -40px;
        }
      }
    }
    .project-header-details {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // column-gap: 24px;
      font-weight: 500;
      display: flex;
      text-align: right;
      font-variant-numeric: slashed-zero;
      @include breakpoint(medium-screen-up) {
        // column-gap: 60px;
      }
      @include breakpoint(extra-large-screen-up) {
        // grid-template-columns: repeat(2, 220px);
      }
      .company {
        margin-right: 40px;
      }
    }
  }
}

.project-hero {
  padding: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  @include breakpoint(medium-screen-up) {
    padding: 200px 60px 60px 60px;
    // min-height: 120vh;
  }
  @include breakpoint(extra-large-screen-up) {
    padding: 440px 180px 180px 180px;
    // min-height: 100vh;
  }
  .text-container {
    display: grid;
    gap: 36px;
    @include breakpoint(large-screen-up) {
      grid-template-columns: repeat(16, 1fr);
      column-gap: 20px;
      row-gap: 60px;
      .text-1 {
        grid-row: 1;
        grid-column: 1 / 6;
      }
      .text-2 {
        grid-row: 1;
        grid-column: 7 / 12;
        @include breakpoint(extra-large-screen-up) {
          // grid-column: 8 / 12;
        }
      }
      .text-3 {
        grid-row: 2;
        grid-column: 7 / 16;
        @include breakpoint(extra-large-screen-up) {
          // grid-column: 4 / 12;
        }
      }
      .text-5 {
        grid-row: 2;
        grid-column: 1 / 7;
        @include breakpoint(extra-large-screen-up) {
          // grid-column: 4 / 12;
        }
      }
      .text-4 {
        grid-row: 3;
        grid-column: 4 / 17;
        text-align: right;
      }
    }
    @include breakpoint(extra-large-screen-up) {
      row-gap: 6vw;
    }
  }
}

.content-container {
  .section {
    &.hero {
      padding-top: 60px;
      @include breakpoint(large-screen-up) {
        padding-top: 120px;
      }
      @include breakpoint(extra-large-screen-up) {
        padding-top: 180px;
      }
      .text {
        padding: 60px 24px;
        display: grid;
        gap: 36px;
        @include breakpoint(medium-screen-up) {
          padding: 60px;
        }
        @include breakpoint(large-screen-up) {
          grid-template-columns: repeat(16, 1fr);
          gap: 20px;
          padding: 120px 60px;
        }
        @include breakpoint(extra-large-screen-up) {
          padding: 180px;
        }
        .section-number {
          font-variant-numeric: slashed-zero;
          @include breakpoint(large-screen-up) {
            grid-column: 4 / span 3;
          }
        }
        .section-title {
          @include breakpoint(large-screen-up) {
            grid-column: 7 / span 9;
          }
        }
      }
      .image {
        @include breakpoint(large-screen-up) {
          display: grid;
          grid-template-columns: repeat(16, 1fr);
          gap: 20px;
          padding: 0 60px;
        }
        @include breakpoint(extra-large-screen-up) {
          padding: 0 180px;
        }
        img {
          width: 100%;
          @include breakpoint(large-screen-up) {
            grid-column: 4 / span 12;
          }
        }
      }
    }
    &.text {
      padding: 60px 24px;
      display: grid;
      gap: 60px;
      @include breakpoint(medium-screen-up) {
        padding: 60px;
      }
      @include breakpoint(large-screen-up) {
        padding: 120px 60px;
        gap: 120px;
      }
      @include breakpoint(extra-large-screen-up) {
        padding: 180px;
        gap: 180px;
      }
      &.bottom {
        padding-bottom: 0;
      }
      &.top {
        padding-top: 0;
      }
      .text-section {
        display: grid;
        gap: 36px;
        @include breakpoint(extra-large-screen-up) {
          gap: 60px;
        }
        .text-block {
          display: grid;
          gap: 24px;
          @include breakpoint(large-screen-up) {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            column-gap: 20px;
            row-gap: 36px;
          }
          @include breakpoint(extra-large-screen-up) {
            row-gap: 60px;
          }
          .paragraph-block {
            display: grid;
            gap: 12px;
            @include breakpoint(large-screen-up) {
              grid-column: 7 / span 9;
            }
            @include breakpoint(extra-large-screen-up) {
              grid-column: 7 / span 8;
            }
          }
        }
      }
    }
    &.grid {
      display: grid;
      @include breakpoint(medium-screen-up) {
        padding: 0 60px;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
      }
      @include breakpoint(large-screen-up) {
        grid-template-columns: repeat(16, 1fr);
      }
      @include breakpoint(extra-large-screen-up) {
        padding: 0 180px;
      }
      .grid-container {
        display: grid;
        gap: 12px;
        @include breakpoint(medium-screen-up) {
          grid-column: 1 / span 9;
          grid-template-columns: repeat(8, 1fr);
          gap: 20px;
        }
        @include breakpoint(large-screen-up) {
          grid-column: 4 / span 12;
          grid-template-columns: repeat(12, 1fr);
          gap: 20px;
        }
        .grid-item {
          &.phone-screen {
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 40px;
            img, video {
              width: 100%;
              max-width: 320px;
              box-shadow: 0 24px 34px -12px rgba(0, 0, 0, 0.08);
              border-radius: 12px;
              @include breakpoint(extra-large-screen-up) {
                max-width: 360px;
              }
            }
            @include breakpoint(extra-large-screen-up) {
              padding: 96px 40px;
            }
            &.dark {
              // background: rgba($black, 0.95);
              background: $black;
              img, video {
                box-shadow: 0 24px 34px -12px rgba(0, 0, 0, 0.4);
              }
            }
          }
          &.screen {
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 40px;
            img, video {
              width: 100%;
              max-width: 1200px;
              border-radius: 12px;
            }
            @include breakpoint(extra-large-screen-up) {
              padding: 96px 40px;
            }
          }
          &.full {
            @include breakpoint(medium-screen-up) {
              grid-column: span 8;
            }
            @include breakpoint(large-screen-up) {
              grid-column: span 12;
            }
          }
          &.half {
            @include breakpoint(medium-screen-up) {
              grid-column: span 4;
            }
            @include breakpoint(large-screen-up) {
              grid-column: span 6;
            }
          }
          &.third {
            @include breakpoint(medium-screen-up) {
              grid-column: span 4;
            }
          }
          img {
            width: 100%;
            -webkit-font-smoothing: unset;
          }
        }
      }
    }
  }
}




