// Imports

@import 'reset';
@import 'fontface'; // Hacked Bourbon font goodies
@import 'fonts';
@import 'vars';

// Mixins

/// New Breakpoint
@mixin breakpoint($point) {
  @if $point == small-screen-up {
    @media (min-width: $small-screen) { @content; }
  }
  @else if $point == medium-screen-up {
    @media (min-width: $medium-screen) { @content; }
  }
  @else if $point == large-screen-up {
    @media (min-width: $large-screen) { @content; }
  }
  @else if $point == extra-large-screen-up {
    @media (min-width: $extra-large-screen) { @content; }
  }
}

/// Aspect Ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: inline-block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Breakpoints

$small-screen: 400px;
$medium-screen: 800px;
$large-screen: 1200px;
$extra-large-screen: 2400px;

$section-padding-small: 32px;
$section-padding-large: 96px;

// Global

html {
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $md;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: $black;
  background: $white;
  transition: background 0.35s ease-in-out;
  -webkit-font-smoothing: antialiased;
  position: relative;
  ::selection {
    background: $yellow;
    color: $black;
  }
  &.dark {
    background: $black;
    color: $white;
  }
  &.light {
    background: $white;
    color: $black
  }
}

// Design

.title-1 {
  font-family: $apk;
  font-size: 84px;
  line-height: 0.9;
  letter-spacing: -2.5px;
  @include breakpoint(medium-screen-up) {
    font-size: 13vw;
    letter-spacing: -8px;
  }
  @include breakpoint (extra-large-screen-up) {
    // font-size: 13vw;
    letter-spacing: -10px;
  }
}

.title-2 {
  font-family: $apk;
  font-size: 31.5px;
  line-height: 35px;
  letter-spacing: -0.4px;
  font-weight: 500;
  @include breakpoint(medium-screen-up) {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
  @include breakpoint (extra-large-screen-up) {
    font-size: 49.5px;
    line-height: 53px;
    letter-spacing: -1px;
  }
  &.gray {
    color: $gray;
  }
}

.title-3 {
  font-family: $apk;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  @include breakpoint(medium-screen-up) {
    font-size: 22.5px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
  @include breakpoint(extra-large-screen-up) {
    font-size: 31.5px;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
  &.gray {
    color: $gray;
  }
}

.paragraph {
  font-family: $apk;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  @include breakpoint(medium-screen-up) {
    font-size: 22.5px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
  @include breakpoint(extra-large-screen-up) {
    font-size: 31.5px;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
  span {
    font-style: italic;
    // color: $gray;
  }
  a {
    text-decoration: none;
    font-style: italic;
    color: $black;
    border-bottom: 2px solid rgba($black, 0.2);
    transition: all 0.3s ease;
    &:hover {
      border-bottom: 2px solid rgba($yellow, 1);
    }
  }
}

ul {
  list-style: none;
  li {
    margin-bottom: 12px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.bullets {
    li {
      &::before {
        content: "⊹";
        color: #a8a8a8;
        margin-right: 20px;
        height: 100%;
      } 
    }
  }
}

.caption {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.home-page {
  .home-page-logo {
    padding: 24px;
    @include breakpoint(medium-screen-up) {
      padding: 60px;
    }
    @include breakpoint(large-screen-up) {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      gap: 20px;
    }
    @include breakpoint(extra-large-screen-up) {
      padding: 180px;
    }
    .title-1 {
      @include breakpoint(large-screen-up) {
        grid-column: 1 / 16;
      }
      // @include breakpoint(extra-large-screen-up) {
      //   grid-column: 2 / 16;
      // }
    }
  }
  .timeline-grid {
    display: grid;
    gap: 12px;
    @include breakpoint(medium-screen-up) {
      padding: 60px;
      grid-template-columns: repeat(8, 1fr);
      gap: 20px;
    }
    @include breakpoint(large-screen-up) {
      grid-template-columns: repeat(16, 1fr);
    }
    @include breakpoint(extra-large-screen-up) {
      padding: 180px;
      grid-template-columns: repeat(16, 1fr);
    }
    .portrait {
      @include breakpoint(medium-screen-up) {
        grid-column: span 4;
      }
      @include breakpoint(large-screen-up) {
        // grid-column: 2 / 6;
        grid-column: span 5;
        position: sticky;
        top: 60px;
      }
      // @include breakpoint(extra-large-screen-up) {
      //   grid-column: 2 / 6;
      // }
      img {
        width: 100%;
      }
    }
    .grid-item {
      background: #FAFAFA;
      @include aspect-ratio(3, 4);
      position: relative;
      overflow: hidden;
      width: 100%;
      @include breakpoint(medium-screen-up) {
        grid-column: span 4;
      }
      @include breakpoint(large-screen-up) {
        grid-column: span 5;
      }
      // @include breakpoint(extra-large-screen-up) {
      //   grid-column: span 4;
      // }
      &.offset-item {
        @include breakpoint(large-screen-up) {
          grid-column: 7 / 12;
        }
        // @include breakpoint(extra-large-screen-up) {
        //   grid-column: 8 / 12;
        // }
      }
      &.link {
        background: $black;
        color: $white;
        a {
          text-decoration: none;
          color: $white;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0px;
          top: 0;
          border-color:   #000000 #FFF;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
          height: 0px;
          width: 0px;
          display: block;
          transition: all 0.4s ease;
          @include breakpoint(medium-screen-up) {
            border-width: 0px 40px 40px 0px;
          }
          @include breakpoint(large-screen-up) {
            border-width: 0px 60px 60px 0px;
          }
          @include breakpoint(extra-large-screen-up) {
            border-width: 0px 80px 80px 0px;
          }
        }
        &:hover {
          .logo {
            img {
              transform: scale(1.12);
            }
          }
          &::after {
            border-width: 0px 0px 0px  0px;
          }
        }
      }
      .details {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        font-variant-numeric: slashed-zero;
        @include breakpoint(extra-large-screen-up) {
          padding: 40px;
        }
        .company {
          width: 100%;
        }
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          img {
            transition: all 0.4s ease;
            width: 75%;
            @include breakpoint(large-screen-up) {
              width: 60%;
            }
          }
        }
        .info {
          width: 100%;
        }
      }
    }
  }
}

.project-hero {
  padding: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  @include breakpoint(medium-screen-up) {
    padding: 60px;
  }
  @include breakpoint(extra-large-screen-up) {
    padding: 180px;
  }
  #logo {
    position: fixed;
    top: 24px;
    left: 24px;
    &.light {
      canvas {
        filter: invert(1);
      }
    }
  }
  .text-container {
    display: grid;
    gap: 36px;
    @include breakpoint(large-screen-up) {
      grid-template-columns: repeat(16, 1fr);
      column-gap: 20px;
      row-gap: 60px;
      &.fitt {
        .text-1 {
          grid-row: 1;
          grid-column: 1 / 6;
        }
        .text-2 {
          grid-row: 1;
          grid-column: 7 / 12;
          @include breakpoint(extra-large-screen-up) {
            // grid-column: 8 / 12;
          }
        }
        .text-3 {
          grid-row: 2;
          grid-column: 7 / 16;
          @include breakpoint(extra-large-screen-up) {
            // grid-column: 4 / 12;
          }
        }
        .text-4 {
          grid-row: 3;
          grid-column: 8 / 17;
          text-align: right;
        }
      }
    }
    @include breakpoint(extra-large-screen-up) {
      row-gap: 6vw;
    }
  }
}

.content-container {
  .section {
    &.hero {
      padding-top: 60px;
      @include breakpoint(large-screen-up) {
        padding-top: 120px;
      }
      @include breakpoint(extra-large-screen-up) {
        padding-top: 180px;
      }
      .text {
        padding: 60px 24px;
        display: grid;
        gap: 36px;
        @include breakpoint(medium-screen-up) {
          padding: 60px;
        }
        @include breakpoint(large-screen-up) {
          grid-template-columns: repeat(16, 1fr);
          gap: 20px;
          padding: 120px 60px;
        }
        @include breakpoint(extra-large-screen-up) {
          padding: 180px;
        }
        .section-number {
          @include breakpoint(large-screen-up) {
            grid-column: 4 / span 3;
          }
        }
        .section-title {
          @include breakpoint(large-screen-up) {
            grid-column: 7 / span 9;
          }
        }
      }
      .image {
        @include breakpoint(large-screen-up) {
          display: grid;
          grid-template-columns: repeat(16, 1fr);
          gap: 20px;
          padding: 0 60px;
        }
        @include breakpoint(extra-large-screen-up) {
          padding: 0 180px;
        }
        img {
          width: 100%;
          @include breakpoint(large-screen-up) {
            grid-column: 4 / span 12;
          }
        }
      }
    }
    &.text {
      padding: 60px 24px;
      display: grid;
      gap: 60px;
      @include breakpoint(medium-screen-up) {
        padding: 60px;
      }
      @include breakpoint(large-screen-up) {
        padding: 120px 60px;
        gap: 120px;
      }
      @include breakpoint(extra-large-screen-up) {
        padding: 180px;
        gap: 180px;
      }
      &.bottom {
        padding-bottom: 0;
      }
      &.top {
        padding-top: 0;
      }
      .text-section {
        display: grid;
        gap: 36px;
        @include breakpoint(extra-large-screen-up) {
          gap: 60px;
        }
        .text-block {
          display: grid;
          gap: 24px;
          @include breakpoint(large-screen-up) {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            column-gap: 20px;
            row-gap: 36px;
          }
          @include breakpoint(extra-large-screen-up) {
            row-gap: 60px;
          }
          .paragraph-block {
            display: grid;
            gap: 12px;
            @include breakpoint(large-screen-up) {
              grid-column: 7 / span 9;
            }
            @include breakpoint(extra-large-screen-up) {
              grid-column: 7 / span 8;
            }
          }
        }
      }
    }
    &.grid {
      display: grid;
      @include breakpoint(medium-screen-up) {
        padding: 0 60px;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
      }
      @include breakpoint(large-screen-up) {
        grid-template-columns: repeat(16, 1fr);
      }
      @include breakpoint(extra-large-screen-up) {
        padding: 0 180px;
      }
      .grid-container {
        display: grid;
        gap: 12px;
        @include breakpoint(medium-screen-up) {
          grid-column: 1 / span 9;
          grid-template-columns: repeat(8, 1fr);
          gap: 20px;
        }
        @include breakpoint(large-screen-up) {
          grid-column: 4 / span 12;
          grid-template-columns: repeat(12, 1fr);
          gap: 20px;
        }
        .grid-item {
          &.phone-screen {
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 40px;
            img, video {
              width: 100%;
              max-width: 320px;
              box-shadow: 0 24px 34px -12px rgba(0, 0, 0, 0.08);
              @include breakpoint(extra-large-screen-up) {
                max-width: 360px;
              }
            }
            @include breakpoint(extra-large-screen-up) {
              padding: 96px 40px;
            }
          }
          &.screen {
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 40px;
            img, video {
              width: 100%;
              max-width: 1200px;
            }
            @include breakpoint(extra-large-screen-up) {
              padding: 96px 40px;
            }
          }
          &.full {
            @include breakpoint(medium-screen-up) {
              grid-column: span 8;
            }
            @include breakpoint(large-screen-up) {
              grid-column: span 12;
            }
          }
          &.half {
            @include breakpoint(medium-screen-up) {
              grid-column: span 4;
            }
            @include breakpoint(large-screen-up) {
              grid-column: span 6;
            }
          }
          &.third {
            @include breakpoint(medium-screen-up) {
              grid-column: span 4;
            }
          }
        }
      }
    }
  }
}




