@charset "UTF-8";
/* RESET http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "APK Protocol";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/APK-Protocol-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/APK-Protocol-Regular.woff2") format("woff2"), url("../fonts/APK-Protocol-Regular.woff") format("woff"), url("../fonts/APK-Protocol-Regular.ttf") format("truetype"), url("../fonts/APK-Protocol-Regular.svg#APK Protocol") format("svg");
}
@font-face {
  font-family: "APK Protocol";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/APK-Protocol-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/APK-Protocol-Medium.woff2") format("woff2"), url("../fonts/APK-Protocol-Medium.woff") format("woff"), url("../fonts/APK-Protocol-Medium.ttf") format("truetype"), url("../fonts/APK-Protocol-Medium.svg#APK Protocol") format("svg");
}
html {
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #0d0d0d;
  background: #ffffff;
  transition: background 0.35s ease-in-out;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-variant-numeric: slashed-zero;
}
body ::selection {
  background: #0d0d0d;
  color: #ffffff;
}
body.dark {
  background: #0d0d0d;
  color: #ffffff;
}
body.dark ::selection {
  background: #ffffff;
  color: #0d0d0d;
}
body.light {
  background: #ffffff;
  color: #0d0d0d;
}

.title-1 {
  font-family: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 84px;
  line-height: 0.9;
  letter-spacing: -2.5px;
}
@media (min-width: 800px) {
  .title-1 {
    font-size: 16vw;
    letter-spacing: -8px;
  }
}
@media (min-width: 2400px) {
  .title-1 {
    letter-spacing: -10px;
  }
}

.title-2 {
  font-family: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 31.5px;
  line-height: 35px;
  letter-spacing: -0.4px;
  font-weight: 500;
}
@media (min-width: 800px) {
  .title-2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
}
@media (min-width: 2400px) {
  .title-2 {
    font-size: 49.5px;
    line-height: 53px;
    letter-spacing: -1px;
  }
}
.title-2.gray {
  color: #6B6B70;
}

.title-3 {
  font-family: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
}
@media (min-width: 800px) {
  .title-3 {
    font-size: 22.5px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
}
@media (min-width: 2400px) {
  .title-3 {
    font-size: 31.5px;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
}
.title-3.gray {
  color: #6B6B70;
}

.paragraph {
  font-family: "APK Protocol", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
}
@media (min-width: 800px) {
  .paragraph {
    font-size: 22.5px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
}
@media (min-width: 2400px) {
  .paragraph {
    font-size: 31.5px;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
}
.paragraph a {
  text-decoration: none;
  color: #0d0d0d;
  border-bottom: 1px solid rgba(13, 13, 13, 0.2);
  transition: all 0.3s ease;
}
.paragraph a:hover {
  border-bottom: 1px solid #0d0d0d;
}
.paragraph.bold {
  font-weight: 500;
}

ul {
  list-style: none;
}
ul li {
  margin-bottom: 12px;
  display: flex;
}
ul li:last-child {
  margin-bottom: 0;
}
ul.bullets li::before {
  content: "⊹";
  color: #a8a8a8;
  margin-right: 20px;
  height: 100%;
}

.caption {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.end-cap {
  height: 16px;
  vertical-align: middle;
}
@media (min-width: 800px) {
  .end-cap {
    height: 20.5px;
  }
}
@media (min-width: 2400px) {
  .end-cap {
    height: 29.5px;
  }
}
.end-cap.title-2 {
  height: 27.5px;
  vertical-align: middle;
}
@media (min-width: 800px) {
  .end-cap.title-2 {
    height: 32px;
  }
}
@media (min-width: 2400px) {
  .end-cap.title-2 {
    height: 45.5px;
  }
}

.home-page .home-page-logo {
  padding: 24px;
  position: relative;
}
@media (min-width: 800px) {
  .home-page .home-page-logo {
    padding: 60px;
  }
}
@media (min-width: 1200px) {
  .home-page .home-page-logo {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
  }
}
@media (min-width: 2400px) {
  .home-page .home-page-logo {
    padding: 180px;
  }
}
.home-page .home-page-logo .logo {
  width: 100%;
  grid-column: span 16;
}
.home-page .home-page-logo .sticker-1 {
  position: absolute;
  width: 22%;
  top: 25%;
  left: 70%;
  transform: rotate(-20deg);
}
@media (min-width: 2400px) {
  .home-page .home-page-logo .sticker-1 {
    width: 19%;
  }
}
.home-page .home-page-logo .sticker-4 {
  position: absolute;
  width: 12%;
  top: 10%;
  left: 70%;
  transform: rotate(12deg);
}
@media (min-width: 2400px) {
  .home-page .home-page-logo .sticker-4 {
    width: 10%;
  }
}
.home-page .home-page-about {
  padding: 24px;
}
@media (min-width: 800px) {
  .home-page .home-page-about {
    padding: 60px;
  }
}
@media (min-width: 1200px) {
  .home-page .home-page-about {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
  }
}
@media (min-width: 2400px) {
  .home-page .home-page-about {
    padding: 180px;
  }
}
.home-page .home-page-about .text-container {
  display: grid;
  gap: 24px;
  border-top: 3px solid #0d0d0d;
  padding-top: 12px;
}
@media (min-width: 1200px) {
  .home-page .home-page-about .text-container {
    grid-column: 7/17;
  }
}
@media (min-width: 2400px) {
  .home-page .home-page-about .text-container {
    border-top: 4px solid #0d0d0d;
  }
}
.home-page .home-page-about .text-container .paragraph {
  font-weight: 500;
}
.home-page .timeline-grid {
  display: grid;
  gap: 12px;
}
@media (min-width: 800px) {
  .home-page .timeline-grid {
    padding: 60px;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .home-page .timeline-grid {
    grid-template-columns: repeat(16, 1fr);
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid {
    padding: 180px;
    grid-template-columns: repeat(16, 1fr);
  }
}
.home-page .timeline-grid .portrait {
  background: #0d0d0d;
  display: flex;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .portrait {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .home-page .timeline-grid .portrait {
    grid-column: span 5;
    position: sticky;
    top: 60px;
  }
}
.home-page .timeline-grid .portrait img {
  width: 100%;
}
.home-page .timeline-grid .about-grid-item {
  padding: 0 20px 20px 20px;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .about-grid-item {
    grid-column: span 8;
    border-top: 1px solid #0d0d0d;
    padding: 20px 0 0 0;
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .home-page .timeline-grid .about-grid-item {
    grid-column: 7/17;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .about-grid-item {
    margin-top: 160px;
  }
}
.home-page .timeline-grid .grid-item {
  background: #FAFAFA;
  position: relative;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.home-page .timeline-grid .grid-item:before {
  display: inline-block;
  content: "";
  width: 100%;
  padding-top: 133.3333333333%;
}
.home-page .timeline-grid .grid-item > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .home-page .timeline-grid .grid-item {
    grid-column: span 5;
  }
}
@media (min-width: 1200px) {
  .home-page .timeline-grid .grid-item:nth-child(even) {
    grid-column: 7/12;
  }
}
.home-page .timeline-grid .grid-item.link {
  background: #0d0d0d;
  color: #ffffff;
}
.home-page .timeline-grid .grid-item.link a {
  text-decoration: none;
  color: #ffffff;
}
.home-page .timeline-grid .grid-item.link::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  border-color: #0d0d0d #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  height: 0px;
  width: 0px;
  display: block;
  transition: all 0.4s ease;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item.link::after {
    border-width: 0px 40px 40px 0px;
  }
}
@media (min-width: 1200px) {
  .home-page .timeline-grid .grid-item.link::after {
    border-width: 0px 60px 60px 0px;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item.link::after {
    border-width: 0px 100px 100px 0px;
  }
}
.home-page .timeline-grid .grid-item.link:hover .logo img {
  transform: scale(1.12);
}
.home-page .timeline-grid .grid-item.link:hover::after {
  border-width: 0px 0px 0px 0px;
}
.home-page .timeline-grid .grid-item .details {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  font-variant-numeric: slashed-zero;
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item .details {
    padding: 40px;
  }
}
.home-page .timeline-grid .grid-item .details .paragraph {
  min-height: 24px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item .details .paragraph {
    min-height: 30px;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item .details .paragraph {
    min-height: 42px;
  }
}
.home-page .timeline-grid .grid-item .details .company {
  width: 100%;
  min-height: 72px;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item .details .company {
    min-height: 90px;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item .details .company {
    min-height: 126px;
  }
}
.home-page .timeline-grid .grid-item .details .company.bottom {
  min-height: 24px;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item .details .company.bottom {
    min-height: 30px;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item .details .company.bottom {
    min-height: 42px;
  }
}
.home-page .timeline-grid .grid-item .details .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home-page .timeline-grid .grid-item .details .logo img {
  transition: all 0.4s ease;
  width: 75%;
}
@media (min-width: 1200px) {
  .home-page .timeline-grid .grid-item .details .logo img {
    width: 60%;
  }
}
.home-page .timeline-grid .grid-item .details .info {
  width: 100%;
  min-height: 72px;
}
.home-page .timeline-grid .grid-item .details .info a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(13, 13, 13, 0.2);
  transition: all 0.3s ease;
}
.home-page .timeline-grid .grid-item .details .info a:hover {
  border-bottom: 1px solid #0d0d0d;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item .details .info {
    min-height: 90px;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item .details .info {
    min-height: 126px;
  }
}
.home-page .timeline-grid .grid-item .details .info.bottom {
  min-height: 24px;
}
@media (min-width: 800px) {
  .home-page .timeline-grid .grid-item .details .info.bottom {
    min-height: 30px;
  }
}
@media (min-width: 2400px) {
  .home-page .timeline-grid .grid-item .details .info.bottom {
    min-height: 42px;
  }
}
.home-page .timeline-grid .grid-item .details .info .info-link-container {
  display: flex;
}

.project-header {
  padding: 24px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}
@media (min-width: 2400px) {
  .project-header {
    padding: 60px;
  }
}
.project-header a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  min-width: 100%;
}
.project-header .text-container {
  display: flex;
  justify-content: space-between;
}
.project-header .text-container .paragraph {
  line-height: 0.9;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.project-header .text-container .project-header-logo {
  font-weight: 500;
}
.project-header .text-container .project-header-logo img {
  height: 60px;
}
@media (min-width: 1200px) {
  .project-header .text-container .project-header-logo img {
    height: 80px;
  }
}
@media (min-width: 2400px) {
  .project-header .text-container .project-header-logo img {
    height: 120px;
  }
}
.project-header .text-container .project-header-details {
  font-weight: 500;
  display: flex;
  text-align: right;
  font-variant-numeric: slashed-zero;
}
.project-header .text-container .project-header-details .company {
  margin-right: 40px;
}

.project-hero {
  padding: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 800px) {
  .project-hero {
    padding: 200px 60px 60px 60px;
  }
}
@media (min-width: 2400px) {
  .project-hero {
    padding: 440px 180px 180px 180px;
  }
}
.project-hero .text-container {
  display: grid;
  gap: 36px;
}
@media (min-width: 1200px) {
  .project-hero .text-container {
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    row-gap: 60px;
  }
  .project-hero .text-container .text-1 {
    grid-row: 1;
    grid-column: 1/6;
  }
  .project-hero .text-container .text-2 {
    grid-row: 1;
    grid-column: 7/12;
  }
  .project-hero .text-container .text-3 {
    grid-row: 2;
    grid-column: 7/16;
  }
  .project-hero .text-container .text-5 {
    grid-row: 2;
    grid-column: 1/7;
  }
  .project-hero .text-container .text-4 {
    grid-row: 3;
    grid-column: 4/17;
    text-align: right;
  }
}
@media (min-width: 2400px) {
  .project-hero .text-container {
    row-gap: 6vw;
  }
}

.content-container .section.hero {
  padding-top: 60px;
}
@media (min-width: 1200px) {
  .content-container .section.hero {
    padding-top: 120px;
  }
}
@media (min-width: 2400px) {
  .content-container .section.hero {
    padding-top: 180px;
  }
}
.content-container .section.hero .text {
  padding: 60px 24px;
  display: grid;
  gap: 36px;
}
@media (min-width: 800px) {
  .content-container .section.hero .text {
    padding: 60px;
  }
}
@media (min-width: 1200px) {
  .content-container .section.hero .text {
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
    padding: 120px 60px;
  }
}
@media (min-width: 2400px) {
  .content-container .section.hero .text {
    padding: 180px;
  }
}
.content-container .section.hero .text .section-number {
  font-variant-numeric: slashed-zero;
}
@media (min-width: 1200px) {
  .content-container .section.hero .text .section-number {
    grid-column: 4/span 3;
  }
}
@media (min-width: 1200px) {
  .content-container .section.hero .text .section-title {
    grid-column: 7/span 9;
  }
}
@media (min-width: 1200px) {
  .content-container .section.hero .image {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
    padding: 0 60px;
  }
}
@media (min-width: 2400px) {
  .content-container .section.hero .image {
    padding: 0 180px;
  }
}
.content-container .section.hero .image img {
  width: 100%;
}
@media (min-width: 1200px) {
  .content-container .section.hero .image img {
    grid-column: 4/span 12;
  }
}
.content-container .section.text {
  padding: 60px 24px;
  display: grid;
  gap: 60px;
}
@media (min-width: 800px) {
  .content-container .section.text {
    padding: 60px;
  }
}
@media (min-width: 1200px) {
  .content-container .section.text {
    padding: 120px 60px;
    gap: 120px;
  }
}
@media (min-width: 2400px) {
  .content-container .section.text {
    padding: 180px;
    gap: 180px;
  }
}
.content-container .section.text.bottom {
  padding-bottom: 0;
}
.content-container .section.text.top {
  padding-top: 0;
}
.content-container .section.text .text-section {
  display: grid;
  gap: 36px;
}
@media (min-width: 2400px) {
  .content-container .section.text .text-section {
    gap: 60px;
  }
}
.content-container .section.text .text-section .text-block {
  display: grid;
  gap: 24px;
}
@media (min-width: 1200px) {
  .content-container .section.text .text-section .text-block {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    row-gap: 36px;
  }
}
@media (min-width: 2400px) {
  .content-container .section.text .text-section .text-block {
    row-gap: 60px;
  }
}
.content-container .section.text .text-section .text-block .paragraph-block {
  display: grid;
  gap: 12px;
}
@media (min-width: 1200px) {
  .content-container .section.text .text-section .text-block .paragraph-block {
    grid-column: 7/span 9;
  }
}
@media (min-width: 2400px) {
  .content-container .section.text .text-section .text-block .paragraph-block {
    grid-column: 7/span 8;
  }
}
.content-container .section.grid {
  display: grid;
}
@media (min-width: 800px) {
  .content-container .section.grid {
    padding: 0 60px;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .content-container .section.grid {
    grid-template-columns: repeat(16, 1fr);
  }
}
@media (min-width: 2400px) {
  .content-container .section.grid {
    padding: 0 180px;
  }
}
.content-container .section.grid .grid-container {
  display: grid;
  gap: 12px;
}
@media (min-width: 800px) {
  .content-container .section.grid .grid-container {
    grid-column: 1/span 9;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .content-container .section.grid .grid-container {
    grid-column: 4/span 12;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}
.content-container .section.grid .grid-container .grid-item.phone-screen {
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
}
.content-container .section.grid .grid-container .grid-item.phone-screen img, .content-container .section.grid .grid-container .grid-item.phone-screen video {
  width: 100%;
  max-width: 320px;
  box-shadow: 0 24px 34px -12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
@media (min-width: 2400px) {
  .content-container .section.grid .grid-container .grid-item.phone-screen img, .content-container .section.grid .grid-container .grid-item.phone-screen video {
    max-width: 360px;
  }
}
@media (min-width: 2400px) {
  .content-container .section.grid .grid-container .grid-item.phone-screen {
    padding: 96px 40px;
  }
}
.content-container .section.grid .grid-container .grid-item.phone-screen.dark {
  background: #0d0d0d;
}
.content-container .section.grid .grid-container .grid-item.phone-screen.dark img, .content-container .section.grid .grid-container .grid-item.phone-screen.dark video {
  box-shadow: 0 24px 34px -12px rgba(0, 0, 0, 0.4);
}
.content-container .section.grid .grid-container .grid-item.screen {
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
}
.content-container .section.grid .grid-container .grid-item.screen img, .content-container .section.grid .grid-container .grid-item.screen video {
  width: 100%;
  max-width: 1200px;
  border-radius: 12px;
}
@media (min-width: 2400px) {
  .content-container .section.grid .grid-container .grid-item.screen {
    padding: 96px 40px;
  }
}
@media (min-width: 800px) {
  .content-container .section.grid .grid-container .grid-item.full {
    grid-column: span 8;
  }
}
@media (min-width: 1200px) {
  .content-container .section.grid .grid-container .grid-item.full {
    grid-column: span 12;
  }
}
@media (min-width: 800px) {
  .content-container .section.grid .grid-container .grid-item.half {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .content-container .section.grid .grid-container .grid-item.half {
    grid-column: span 6;
  }
}
@media (min-width: 800px) {
  .content-container .section.grid .grid-container .grid-item.third {
    grid-column: span 4;
  }
}
.content-container .section.grid .grid-container .grid-item img {
  width: 100%;
  -webkit-font-smoothing: unset;
}

/*# sourceMappingURL=main.css.map */
