/* RESET http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CircularText-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularText-Book.woff") format("woff"), url("../fonts/CircularText-Book.ttf") format("truetype"), url("../fonts/CircularText-Book.svg#circular") format("svg"); }
@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/CircularHead-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularHead-Bold.woff") format("woff"), url("../fonts/CircularHead-Bold.ttf") format("truetype"), url("../fonts/CircularHead-Bold.svg#circular") format("svg"); }
html {
  min-height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: "circular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased; }

a {
  color: #111111;
  text-decoration: none;
  border-bottom: 1px solid rgba(17, 17, 17, 0.25); }

h1::selection, h2::selection, h3::selection, p::selection, a::selection {
  background: #000000;
  color: #ffffff; }

.title-1 {
  font-size: 24px;
  font-weight: 600; }
  @media (min-width: 43.75em) {
    .title-1 {
      font-size: 32px; } }
  @media (min-width: 62.5em) {
    .title-1 {
      font-size: 100px; } }

.regular {
  font-size: 16px;
  line-height: 26px;
  max-width: 650px; }
  @media (min-width: 62.5em) {
    .regular {
      font-size: 20px;
      line-height: 32px; } }
  .regular.center {
    text-align: center;
    max-width: none; }
  .regular.fill {
    width: 100%;
    max-width: none; }
  .regular.sm-pad {
    padding: 24px;
    box-sizing: border-box; }

.pad {
  padding: 24px;
  box-sizing: border-box; }
  @media (min-width: 43.75em) {
    .pad {
      padding: 48px; } }
  @media (min-width: 62.5em) {
    .pad {
      padding: 64px; } }
  .pad.middle {
    padding-top: 0; }

.pad-top-24 {
  padding-top: 24px; }

.pad-rt-24 {
  padding-right: 24px; }

.pad-bot-24 {
  padding-bottom: 24px; }

.pad-lt-24 {
  padding-left: 24px; }

.mar-top-8 {
  margin-top: 8px; }

.mar-top-16 {
  margin-top: 16px; }

.mar-top-24 {
  margin-top: 24px; }

.mar-top-48 {
  margin-top: 48px; }

.mar-bot-8 {
  margin-bottom: 8px; }

.mar-bot-16 {
  margin-bottom: 16px; }

.mar-bot-24 {
  margin-bottom: 24px; }

.mar-bot-48 {
  margin-bottom: 48px; }

@media (min-width: 43.75em) {
  .split {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .split > * {
      width: 50%; } }

@media (min-width: 43.75em) {
  .thirds {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .thirds > * {
      width: 50%; } }
@media (min-width: 62.5em) {
  .thirds > * {
    width: 33.333%; } }

.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .flex-center.vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }

.shadow {
  box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.1); }

.border {
  border: 1px solid rgba(17, 17, 17, 0.1); }

.outline {
  outline: 1px solid rgba(17, 17, 17, 0.1); }

@media (min-width: 62.5em) {
  .intro {
    min-height: 100vh; } }
.intro .text {
  padding: 24px;
  box-sizing: border-box; }
  @media (min-width: 62.5em) {
    .intro .text {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; } }
.intro .image {
  line-height: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  @media (min-width: 43.75em) {
    .intro .image {
      padding: 24px; } }
  .intro .image img {
    width: 100%; }
    @media (min-width: 62.5em) {
      .intro .image img {
        max-width: 500px; } }

.project-intro {
  padding: 24px;
  background-color: #111111;
  color: #ffffff;
  box-sizing: border-box; }
  @media (min-width: 43.75em) {
    .project-intro {
      padding: 0;
      min-height: 500px; } }
  @media (min-width: 62.5em) {
    .project-intro {
      min-height: 100vh; } }
  .project-intro a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  .project-intro .title {
    padding-top: 48px;
    box-sizing: border-box; }
    @media (min-width: 43.75em) {
      .project-intro .title {
        padding: 24px;
        padding-right: 0; } }
  .project-intro .text {
    border-top: 1px solid #ffffff;
    margin-top: 24px;
    margin-bottom: 300px;
    padding-top: 24px;
    padding-top: 48px;
    box-sizing: border-box; }
    @media (min-width: 43.75em) {
      .project-intro .text {
        padding: 24px;
        border-top: none;
        border-left: 1px solid #ffffff;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 62.5em) {
      .project-intro .text {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        -o-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: end; } }

@media (min-width: 62.5em) {
  .after-intro {
    min-height: 100vh;
    width: auto; } }
.after-intro .phone {
  padding: 24px;
  padding-bottom: 0;
  margin-top: -320px;
  box-sizing: border-box; }
  @media (min-width: 43.75em) {
    .after-intro .phone {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      padding: 0; } }
  @media (min-width: 62.5em) {
    .after-intro .phone {
      margin-top: -700px; } }
  .after-intro .phone img {
    width: 100%; }
    @media (min-width: 43.75em) {
      .after-intro .phone img {
        max-width: 300px;
        height: auto; } }
    @media (min-width: 62.5em) {
      .after-intro .phone img {
        max-width: 375px;
        height: auto; } }
.after-intro .img-container {
  box-sizing: border-box; }
  @media (min-width: 43.75em) {
    .after-intro .img-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -moz-box-align: end;
      box-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      align-items: flex-end;
      -ms-flex-align: end;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      padding-left: 0; } }
  .after-intro .img-container img, .after-intro .img-container video {
    width: 100%; }

.see-live-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  @media (min-width: 43.75em) {
    .see-live-container {
      -webkit-box-align: end;
      -moz-box-align: end;
      box-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      align-items: flex-end;
      -ms-flex-align: end;
      padding-left: 0; } }
  .see-live-container a {
    padding-bottom: 0; }
  .see-live-container .see-live {
    width: 200px;
    height: 200px;
    border: 1px solid #111111;
    border-radius: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #111111;
    color: #ffffff; }
    @media (min-width: 62.5em) {
      .see-live-container .see-live {
        width: 400px;
        height: 400px; } }
    .see-live-container .see-live:hover {
      transform: scale(1.03); }

.content.split {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
.content.split-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
.content .video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .content .video-wrapper embed,
  .content .video-wrapper object,
  .content .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
.content .img-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .content .img-container img {
    width: 100%; }
  .content .img-container video {
    width: 100%;
    display: inline-table; }
  @media (min-width: 43.75em) {
    .content .img-container.add-pad {
      padding: 24px;
      box-sizing: border-box; } }
  .content .img-container.right {
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    padding-right: 0; }
  .content .img-container.min-mar {
    margin-top: 24px; }
    @media (min-width: 43.75em) {
      .content .img-container.min-mar {
        margin-top: 0; } }
  @media (min-width: 43.75em) {
    .content .img-container.phone img {
      max-width: 300px; } }
  @media (min-width: 43.75em) {
    .content .img-container.phone img {
      max-width: 375px; } }
  @media (min-width: 43.75em) {
    .content .img-container.small-img {
      max-width: 300px; } }
  @media (min-width: 43.75em) {
    .content .img-container.small-img {
      max-width: 500px; } }

.center-intro {
  text-align: center;
  background-color: #111111;
  color: #ffffff;
  min-height: 300px; }
  @media (min-width: 62.5em) {
    .center-intro {
      min-height: 100vh; } }
  .center-intro a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

.small-intro {
  border-bottom: 1px solid #111111;
  padding-bottom: 24px;
  box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
