// Colors
$white: #ffffff;
$black: #1C1414;
$blue: #4A90E2;

// Overlays
$image-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

// Typography
$sans: "sans", "Helvetica", "Roboto", "Arial", sans-serif;
$mono: "mono", "Helvetica", "Roboto", "Arial", sans-serif;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1;

